.exerciseModal {
    background-color: #1F366F;
    width: 1500px;
}

.exerciseText {
    font-size: 16px;
    font-weight: 500;
}
.time {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.generateGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.generate {
    font-style: italic;
    color: #0094FF;
    font-weight: 300;
    font-size: 14px;
}

.regenerateButton {
    background-color:#93C9EF;
    color: #0094FF;
    border-radius: 50px;
}

.textFormatting {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

