.cardExercise {
   width: 100%;
   background-color: #1F366F;
   padding: 20px;
}

.cardStyling {
    width: 750px;
}

.exerciseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    
}

.exerciseCardText {
    font-weight: 300;
    gap: 10px;
}

.exerciseTitle {
    font-size: 16px;
    font-weight: 500;
}

.estimatedTime {
    font-style: italic;
}

.test {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}