.fullExerciseCard {
    background-color: #5B6C96;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exerciseCardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.exerciseTitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.estimated {
    color: #07BE7D;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 20px;
}

.description {
    font-size: 14px;
}