.sessionStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}

.goToNext {
    background-color: #59ADEA;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.goBack {
    background-color: #B0BFE1;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 30px;
}


.goBackToPrior {
    background-color: #1F366F;
    margin-left: 60px;
}

.arrowLeft {
    font-size: 44px;
}