.whenboxCard {
    display: flex;
    flex-direction: column;
    background-color: #1F366F;
    width: 400px;
    height: 150px;
    margin: 0px 10px 0px 10px;
    padding: 20px;
    font-weight: 600;
}
.inputBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.dateBox {
    background-color: rgba(255,255,250,0.4);
    color: #000000;
    border-radius: 10px;
    padding: 5px
}

.title {
    margin-right: 10px;
    font-weight: 400;
}

.duration {
    font-weight: 600;
}

#date {
    margin-bottom: 20px;
}