.feedBackBox {
    display: flex;
    flex-direction: column;
    background-color: #ACD2FF;
    border-radius: 15px;
    height: 40px;
    margin: 10px;
    align-items: center;
}

.feedBackText {
    margin: 10px;
    color: #1F366F;
    font-weight: 500;
}

