 .impairment-item {
     border-radius: 15px;
     height: 70px; 
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px; 
     margin: 0 40px 30px 40px;
     background-color: rgba(255, 255, 255, 0.27); 
     box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); 
  }

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 55px 10px 55px;
  }
  
  .skill-level {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #ffd700; 
    margin-right: 5px; 
  }
  
  .star-empty {
    color: #e0e0e0; 
    margin-right: 5px;
  }

  .impairment-title {
    font-weight: 600;
  }

  .skillLevel-title {
    color: #B0BFE1;
    font-style: italic;
  }

  